@model LibraryWebMvc.Models.Publication

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3></h3>
<div>
    <h4>Видання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">Анотація
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annotation)
        </dd>
        <dt class = "col-sm-2">Рік видання
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">Мова
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">Тип видання
        </dt>
        <dd class = "col-sm-10">
            @Model.PublicationType?.TypeName
        </dd>
        <dt class="col-sm-2">
            Видавництво
        </dt>
        <dd class="col-sm-10">
            @Model.Publisher?.Name
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="PublicationId" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="back-link">Назад до списку</a>
    </form>
</div>
