@model LibraryWebMvc.Models.Publication

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Видання</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">Антоція
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annotation)
        </dd>
        <dt class = "col-sm-2">Рік видання
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">Мова
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">Тип видання
        </dt>
        <dd class = "col-sm-10">
            @Model.PublicationType?.TypeName
        </dd>
        <dt class = "col-sm-2">Видавництво
        </dt>
        <dd class = "col-sm-10">
            @Model.Publisher?.Name
        </dd>
    </dl>
</div>
<h4>Копії цього видання</h4>
<hr />

@if (Model.Copies != null && Model.Copies.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ІН Копії</th>
                <th>Дата надходження</th>
                <th>Доступність</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var copy in Model.Copies)
            {
                <tr>
                    <td>@copy.InventoryNumber</td>
                    <td>@copy.AcquisitionDate</td>
                    <td>@copy.IsAvailable</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No copies are assigned to this publication.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublicationId">Редагувати</a> |
    <a asp-action="Index" class="back-link">Назад до списку</a>
</div>
