@model IEnumerable<LibraryWebMvc.Models.Publication>

@{
    ViewData["Title"] = "Index";
}

<h1>Список видань</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Анотація</th>
            <th>Рік</th>
            <th>Мова</th>
            <th>Тип видання</th>
            <th>Видавництво</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
                <td>
                    @item.PublicationType?.TypeName
                </td>
                <td>
                    @item.Publisher?.Name
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PublicationId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.PublicationId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.PublicationId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
