@model LibraryWebMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd>
    </dl>
</div>
<h4>Readers of this department</h4>
<hr />

@if (Model.Readers != null && Model.Readers.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reader in Model.Readers)
            {
                <tr>
                    <td>@reader.FullName</td>
                    <td>@reader.RegistrationDate</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No readers are assigned to this department.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DepartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
