@model IEnumerable<LibraryWebMvc.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Список кафедр</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва кафедри</th>
            <th>Факультет</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentName</td>
            <td>@item.Faculty?.FacultyName</td>
            <td class="actions-col">
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.DepartmentId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="action-link">Видалити</a>
            </td>
        </tr>
    }
    </tbody>
</table>
