@model IEnumerable<LibraryWebMvc.Models.Reader>

@{
    ViewData["Title"] = "Index";
}

<h1>Список читачів</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ПІБ</th>
            <th>Факультет</th>
            <th>Дата реєстрації</th>
            <th>Кафедра</th>
            <th>Посада</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
                <td>
                    @item.Department?.Faculty?.FacultyName
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
                <td>
                    @item.Department?.DepartmentName
                </td>
                <td>
                    @item.Position?.PositionName
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ReaderId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.ReaderId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.ReaderId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
