@model LibraryWebMvc.Models.Copy

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Копії</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">ІН Копії
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt class = "col-sm-2">Дата надходження
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquisitionDate)
        </dd>
        <dt class = "col-sm-2">Доступність
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">Видання
        </dt>
        <dd class = "col-sm-10">
            @Model.Publication?.Title
        </dd>
    </dl>
</div>
<h4>Історії видач для цієї копії</h4>
<hr />

@if (Model.Borrowings != null && Model.Borrowings.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Reader</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Returned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrowing in Model.Borrowings)
            {
                <tr>
                    <td>@borrowing.Reader?.FullName</td>
                    <td>@borrowing.BorrowDate</td>
                    <td>@borrowing.DueDate</td>
                    <td>@borrowing.ReturnDate</td>
                    <td>@borrowing.IsReturned</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Копія не має видач.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CopyId">Редагувати</a> |
    <a asp-action="Index" class="back-link">Назад до списку</a>
</div>
