@model IEnumerable<LibraryWebMvc.Models.Copy>

@{
    ViewData["Title"] = "Index";
}

<h1>Список Копій видань</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcquisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
                <td>
                    @item.Publication?.Title
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CopyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CopyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CopyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
