@model IEnumerable<LibraryWebMvc.Models.Copy>
@using System.Text.Json

@{
    ViewData["Title"] = "Index";
}

<h1>Список Копій видань</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Інвентарний номер</th>
            <th>Дата надходження</th>
            <th>Доступність</th>
            <th>Видання</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
                <td>
                    @item.Publication?.Title
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CopyId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.CopyId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.CopyId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="mt-5">
    <h3>Доступні та недоступні копії</h3>
    <div class="card border-0 shadow-sm mt-3" style="border-radius: 16px; background-color: #ffffff;">
        <div class="card-body">
            <canvas id="copiesStatusChart" height="110"></canvas>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const copyStatusLabels = @Html.Raw(JsonSerializer.Serialize(ViewBag.CopyStatusLabels));
        const copyStatusCounts = @Html.Raw(JsonSerializer.Serialize(ViewBag.CopyStatusCounts));

        const copiesStatusCtx = document.getElementById('copiesStatusChart');

        new Chart(copiesStatusCtx, {
            type: 'doughnut',
            data: {
                labels: copyStatusLabels,
                datasets: [{
                    label: 'Кількість копій',
                    data: copyStatusCounts
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true
                    }
                }
            }
        });
    </script>
}