@model IEnumerable<LibraryWebMvc.Models.Author>
@using System.Text.Json
@{
    ViewData["Title"] = "Index";
}

<h1>Список авторів</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ПІБ
            </th>
            <th>
                РІк народження
            </th>
            <th>
                Країна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.AuthorId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="mt-5">
    <h3>Кількість авторів за країнами</h3>
    <div class="card border-0 shadow-sm mt-3" style="border-radius: 16px; background-color: #ffffff;">
        <div class="card-body">
            <canvas id="authorsByCountryChart" height="110"></canvas>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const authorCountryLabels = @Html.Raw(JsonSerializer.Serialize(ViewBag.CountryLabels));
        const authorCountryCounts = @Html.Raw(JsonSerializer.Serialize(ViewBag.CountryCounts));

        const authorsByCountryCtx = document.getElementById('authorsByCountryChart');

        new Chart(authorsByCountryCtx, {
            type: 'bar',
            data: {
                labels: authorCountryLabels,
                datasets: [{
                    label: 'Кількість авторів',
                    data: authorCountryCounts
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    }
                }
            }
        });
    </script>
}
