@model IEnumerable<LibraryWebMvc.Models.Borrowing>

@{
    ViewData["Title"] = "Index";
}

<h1>Список  Видач</h1>

<p>
    <a asp-action="Create" class="create-link">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата видачі
            </th>
            <th>
                Термін повернення
            </th>
            <th>
                Дата повернення
            </th>
            <th>
                Повернено
            </th>
            <th>
                Копія
            </th>
            <th>
                Читач
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturned)
            </td>
                <td>
                    @item.Copy?.InventoryNumber
                </td>
                <td>
                    @item.Reader?.FullName
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.BorrowingId" class="action-link">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.BorrowingId" class="action-link">Детальніше</a>
                    <a asp-action="Delete" asp-route-id="@item.BorrowingId" class="action-link">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
